@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "مدیریت نقش";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<h3>آیا میخواهید این نقش را حذف و کلیه کاربران مربوطه را از آن پاک کنید؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("نام")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("بازگشت", "Index")
        </div>
    }
</div>
